* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #202124;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    color: white;
    align-items: center;
    font-family: sans-serif;
}